<div class="container">
  <div class="about">
    <h1>About Us</h1>
    <span>
      AdComsys, the conference on Advanced Computing and Systems, is set
      to be an exhilarating blend of innovation and knowledge sharing. This
      dynamic event will not only feature cutting-edge technical sessions and
      insightful keynote addresses but will also host engaging quiz competitions
      and vibrant poster presentations. Attendees will have the opportunity to
      delve into the latest advancements in computing technology while
      showcasing their expertise and creativity in various interactive events.
      AdComsys promises to be a hub of intellectual exchange, fostering both
      academic and professional growth.
    </span>
  </div>

  <div class="info">

    <h1>Contact Us</h1>
    

    <div class="contact-cards">


        <div class="card">
            <div class="card-header">
                <span class="material-symbols-outlined">
                    contact_mail
                </span>
                <span style="color: slateblue;">
                    Emai;
                </span>
            </div>
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <a>diptadip.biswas@adcomsys.digital</a>
              </blockquote>
            </div>
          </div>

          
        <div class="card">
            <div class="card-header">
                <span class="material-symbols-outlined">
                    call
                </span>
                <span style="color: slateblue;">
                    Phone
                </span>
            </div>
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <a><p>8348284337 <i class="fa-brands fa-whatsapp"></i></p></a>
                <footer class="blockquote-footer">Diptadip Biswas<cite title="Source Title"> Core AdComSys</cite></footer>
              </blockquote>

              <blockquote class="blockquote mb-0">
               <a><p>7679262022 <i class="fa-brands fa-whatsapp"></i></p></a> 
                <footer class="blockquote-footer">Diptayan Manna<cite title="Source Title"> Core AdComSys</cite></footer>
              </blockquote>
            </div>
          </div>

         


          <div class="card">
            <div class="card-header">
                <span class="material-symbols-outlined">
                    public
                </span>
                <span style="color: slateblue;">
                    Social Media
                </span>
            </div>
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <a><i class="fa-brands fa-linkedin-in"></i></a>
                <footer class="blockquote-footer mt-2">https://www.linkedin.com/company/geeksforgeeksuemk/</footer>
              </blockquote>

              <blockquote class="blockquote mb-0">
               <a><i class="fa-brands fa-instagram"></i></a> 
                <footer class="blockquote-footer mt-2">https://www.instagram.com/geeksforgeeksuemk/</footer>
              </blockquote>

              <blockquote class="blockquote mb-0">
                <a><i class="fa-brands fa-facebook"></i></a> 
                 <footer class="blockquote-footer mt-2">https://www.instagram.com/geeksforgeeksuemk/</footer>
               </blockquote>              
            </div>
          </div>
    </div>
           
</div>
