<div class="container">
  <div class="header">
    <h1 class="main-heading">
      AdcomSys <br />
      <span style="color: lightpink">2024</span>
    </h1>
  </div>


  <div class="main-text">
    <span class="conf-text">
      The International Conference on Advanced Computing and Systems (AdcomSYS) will foster an excellent international forum for exchanging knowledge and
      the recent developments in theory, methodologies and applications in
      Artificial Intelligent (AI) systems, Internet of Things (IoT) systems,
      Cybersecurity and Blockchain systems and emerging computing techniques. With
      a diverse range of keynote speeches, paper presentations, and panel
      discussions, attendees can expect to gain insights into the latest
      developments and trends shaping the future of computing and systems. Whether
      you're a seasoned professional or an aspiring researcher, Adcomsys offers a
      platform to network, learn, and contribute to the advancement of technology.
      Join us at Adcomsys as we explore new frontiers in computing and systems
      together.
    </span>
  </div>

  <h2 class="date">Date: 26<sup>th </sup> & 27 <sup>th</sup> June</h2>


  <div class="countdown-timer">
    <h2>Time Remaining</h2>
    <div class="timer-inner">
      <span>{{ days }} days</span>
      <span>{{ hours }} hours</span>
      <span>{{ minutes }} minutes</span>
      <span>{{ seconds }} seconds</span>
    </div>
  </div>


  <div class="explore text-center">
    <button>Explore</button>
  </div>
</div>
