<div class="container">
  <div class="about">
    <h1>Events Timeline</h1>
  </div>

  <div class="cards">
    <div class="card mb-3">
      <div class="image">
        <img src="/assets/images/flutter.jpeg" class="card-img-top" alt="..." />
      </div>

      <div class="card-body">
        <h5 class="card-title">
          🚀 AdComSys FlutterFiesta 2024: Ignite Your Codebrush!🚀
        </h5>
        <p class="card-text">
          🌟 Hey Flutter enthusiasts!🌟 Get ready to blend widgets, animations,
          and pixel-perfect UIs at ⚡ FlutterFiesta, ⚡our electrifying Flutter
          Workshop. Whether you're a seasoned dev or a curious coder, this event
          is your playground. ral lead-in to additional content. This content is
          a little bit longer.
        </p>
        <p class="card-text">
          <small class="text-body-secondary">
            Mark your calendar 🗓️ DATE: 26th JUNE,2024 Time: Starting at 10 A.M.
            Venue: UEM, Kolkata REGISTRATION ENDS: 15th June 2024 * Carry your
            own Laptop* 💻 VALUABLE MAR CERTIFICATES FOR ALL
          </small>
        </p>
      </div>

      <a
        class="link"
        href="https://docs.google.com/forms/d/e/1FAIpQLSfFX6KBNDBWMPUKvs1WgRFLr1ic5N639rJVceNYfpiQo2100A/viewform"
        >Register</a
      >
    </div>

    <div class="card mb-3">
      <div class="image">
        <img src="/assets/images/ui_ux.jpeg" class="card-img-top" alt="..." />
      </div>

      <div class="card-body">
        <h5 class="card-title">🚀 UI/UX and Graphics Design Webinar 🚀</h5>
        <p class="card-text">
          🌟 ADCOMSYS, in collaboration with the Design Society of UEMK, is
          presenting a fantastic opportunity for all UI/UX and graphics design
          enthusiasts!Don't miss out on this chance to enhance your design
          skills and learn from the experts. Make sure to register and secure
          your spot!
        </p>
        <p class="card-text">
          <small class="text-body-secondary">
            Spread the word and see you there! 🚀 Mark your calendar 🗓️ DATE:
            15th JUNE,2024 Time: Starting at 10 A.M. Venue: Microsoft Teams
          </small>
        </p>
      </div>

      <a class="link" href="https://bit.ly/UiUXWebinar_AdComSys2024"
        >Register</a
      >
    </div>

    <div class="card mb-3">
      <div class="image">
        <img src="/assets/images/quiz.jpeg" class="card-img-top" alt="..." />
      </div>

      <div class="card-body">
        <h5 class="card-title">
          💡 AdComSys Wisdom War 2024: Unleash Your Byte Power!💡
        </h5>
        <p class="card-text">
          🌟 Hey tech wizards! 🌟 Get ready to decode, debug, and dazzle at
          WISDOM WAR, our adrenaline-packed Technical Quiz Contest. Whether
          you're a syntax scorer or a binary bard, this quiz awaits your
          lightning-fast neurons.
        </p>
        <p class="card-text">
          <small class="text-body-secondary">
            Mark your calendar 🗓️ Date: 27th JUNE, 2024 Time: Starting at 11
            A.M. Venue: UEM, Kolkata REGISTRATION ENDS: 15th June 2024
          </small>
        </p>
      </div>

      <a
        class="link"
        href="https://forms.gle/G9AiRCNxjPXu9gvU8"
        >Register</a
      >
    </div>

    <div class="card mb-3">
      <div class="image">
        <img src="/assets/images/poster.jpeg" class="card-img-top" alt="..." />
      </div>

      <div class="card-body">
        <h5 class="card-title">🔥 AdComSys 2024: Ignite your creativity!🔥</h5>
        <p class="card-text">
          🌟 Hey Tech-thusiasts!🌟 Get ready to fuse codes, pixels, and
          innovation at AdComSys 2024: TECHNICAL POSTER MAKING COMPETITION
          ⚡Whether you're a binary poet or a circuit whisperer, frontend ninja
          or a backend bard, this stage is yours to electrify.⚡ What awaits
          You? REGISTRATION ENDS: 15th June 2024_
          <br />
          ** Poster Topic: Cloud Computing, Quantum Computing, Bioinformatics,
          AI with Robotics, Deep Learning, Robotics Systems, IoT in (Healthcare,
          Industry, Agriculture,Smart City), Encryption Techniques, 5G & beyond
          5G .....ETC Related to Advance Computing. ** * *Poster Size: A1 **
        </p>
        <p class="card-text">
          <small class="text-body-secondary">
            Mark your calendar 🗓️ Date: 26th JUNE,2024 Time: Starting at 10 A.M.
            Venue: UEM,Kolkata
          </small>
        </p>
      </div>

      <a
        class="link"
        href="https://docs.google.com/forms/d/e/1FAIpQLSeoK2T3-O-OY5pxVQ_mFqc2CM_jYDFYWLDFJHpp9IdK8b4DdA/viewform"
        >Register</a
      >
    </div>
  </div>
</div>
